# ========================================
# .NET BUILD
# ========================================

**/bin/
**/obj/
**/out/

# Archivos compilados
*.dll
*.exe
*.pdb
*.cache

# ========================================
# USER / IDE SETTINGS
# ========================================

*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates
*.DotSettings.user

# Rider / IntelliJ
.idea/

# VS Code
.vscode/

# ========================================
# OS
# ========================================

.DS_Store
Thumbs.db

# ========================================
# NUGET
# ========================================

*.nupkg
*.snupkg
.nuget/
packages/

# ========================================
# LOGS
# ========================================

*.log

# ========================================
# ENV / CONFIG
# ========================================
# appsettings.Development.json

# Config local sensible
appsettings.json

# Variables de entorno
.env
.env.*

# Secrets (si usas)
secrets.json

# ========================================
# TESTING
# ========================================

TestResults/
*.trx

# ========================================
# WEB / BUILD EXTRA
# ========================================

dist/
publish/

# ========================================
# HTTP CLIENT (RIDER)
# ========================================

.idea/**/httpRequests/

# ========================================
# MISC
# ========================================

*.tmp
*.temp